@media (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;  
  }
  .header {
    &_input {
      display: none;
    }
    &_text {
      display: none;
    }
  }

  .nav {
    display: none;
  }
.logo_img {
  width: 99px;
}
.menu-mob {
  display: flex;
  gap: 32px;
  align-items: center;
}
.home {
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.mebel {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}
.catalog {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  text-decoration-line: underline;
}
.heading {
  font-size: 24px;
  line-height: 29px;
  padding-top: 32px;
}
.for_item {
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-column: 1/-1;
  height: 375px;
  margin-left: 0px;
  margin-right: 10px;
}
.offer {
  font-size: 24px;
  line-height: 29px;
}
.text {
  font-size: 14px;
line-height: 17px;
}
.price {
  font-size: 18px;
  line-height: 22px; 
}
.proce {
  font-size: 18px;
  line-height: 22px;
}
.product_name {
  font-size: 18px;
line-height: 22px;
}
.tovari {
  font-size: 24px;
  line-height: 29px; 
}
  .footer {
    gap: 34px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column: 1/-1;
  gap: 32px;
}
.product {
  margin-right: 10px;
  margin-left: 0px;
}
.corimg {
  display: none;
}
.cart {
  grid-template-columns: repeat(3, 1fr)
}
.cart_form {
  width: 343px;
}
.knopka {
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  border-radius: 50px;
  display: flex;
  width: 157px;
}
.heading-big {
display: flex;
justify-content: center;
}
.cart_name_box {
  display: none;
}
.cart_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.number {
  margin-left: 30px;
}
.cart_item {
  margin-right: 16px;
  margin-left: 0px;
}
.number {
  margin-left: 400px;
}
}
@media (min-width: 552px) {
  .product_img {
    width: 379px;
    height: 250px;

  }
}
