*{
  margin: 0;
  padding: 0;
}
.check {
 font-size: 16px;
 line-height: 20px;
 width: 66px;
 height: 20px;
 font-style: normal;
 color: #ffffff;
 text-decoration: none;
}
.home {
 font-style: normal;
 font-weight: 600px;
 font-size: 64px;
 line-height: 70px;
 padding-top: 64px;
 padding-bottom: 16px;
 margin-bottom: 16px;
 color: #ffffff;
 max-width: 792px;
}
.mebel {
 font-size: 24px;
 line-height: 32px;
 padding-bottom: 16px;
 color: #ffffff;
 margin-bottom: 16px;

}
.catalog {
 font-size: 16px;
 line-height: 24px;
 color: #ffffff;
 transition: all 0.3s;
}
.catalog:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}
.offer {
 font-weight: 600;
 font-size: 48px;
 line-height: 59px;
 padding-bottom: 32px;
 color: #000000;
 margin-top: 64px;
}
.vilora {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.text {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
 padding-bottom: 12px;
 color: #888888;
 margin-bottom: 12px;
}
.price {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 color: #050505;
 display: flex;
 gap: 32px;
margin-bottom: 32px;

}
.proce {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 text-decoration-line: line-through;
 color: #888888;
 display: flex;
 gap: 32px;
}
.menu {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.much {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin-top: 12px;
 
}
.news {
 font-size: 14px;
 line-height: 16px;
 padding-bottom: 16px;
 color: #000000;
}
.click {
 background: #ffffff;
 border: 1px solid #c4c4c4;
 box-sizing: border-box;
 border-radius: 20px;
 font-style: normal;
 font-weight: normal;
 font-size: 15px;
 line-height: 18px;
 color: #c4c4c4;
}
.tovari {
  display: flex;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-top: 72px;
  margin-bottom: 32px;
}
.but {
 background: rgba(222, 215, 215, 0.41);
 border: 1px solid #ffffff;
 box-sizing: border-box;
 border-radius: 20px;
 width: 275px;
 height: 46px;
 font-size: 15px;
 line-height: 18px;
 color: #000000;
}
.check:hover {
 font-family: sans-serif;
 color: #c4c4c4;
}
.much:hover {
 font-family: sans-serif;
 color: #c4c4c4;
 }
 .header {
   max-height: 76px;
 }
 .Loh {
   height: 735px;
   background-image: url(./img/Rectangle14.jpg);
   background-size: cover;
   background-position:  center center;
   background-repeat: no-repeat;
 }
.header_text {
box-sizing: border-box;
background-color: transparent;
border: 1px solid;
border-radius: 20px;
height: 41px;
width: 288px;
left: 470px;
top: 17.5px;
outline: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #ffffff;
padding-left: 32px;
padding-right: 32px;
box-sizing: border-box;
}
.int {
 width: 198px;
height: 44px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
}
.header_text::placeholder {
 color: #ffffff;

}
.header {
 height: 77px;
}
.lystra {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.divan {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.komod {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.krovat {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.stol {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.ASKETA {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.Norman {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.Nastan {
 font-weight: 500;
 font-size: 24px;
 line-height: 29px;
 padding-bottom: 8px;
 color: #000000;
}
.cot {
 font-size: 16px;
 line-height: 24px;
 color: #050505;
 margin-bottom: 96px;
 width: 155px;
 height: 24px;
}
.product_box {
 padding-top: 64px;
 display: flex;
 gap: 32px;
}
.product_content {
 margin-top: 32px;
 display: flex;
 column-gap: 32px;
 row-gap: 56px;
 flex-wrap: wrap;

}
.center {
 padding-left: calc(50% - 600px);
 padding-right: calc(50% - 600px);
}
.header {
 display: flex;
 border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
.product {
 width: 378px;
 display: flex;
 flex-direction: column;
 transition: all 0.3s;
 row-gap: 32px;
}
.product_img {
 width: 100%;
}
.product_box-price {
 display: flex;
 gap: 32px;
}
.product_name {
margin-top: 10px;
margin-bottom: 9px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #050505;
}

.footer {
  padding-bottom: 20px;
  display: flex;
  background-color: #F7F6F6;
  justify-content: space-between;
  &_input {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    width: 268px;
    height: 46px;
  }
}
.menu_bot {
 display: flex;
 flex-direction: column;
}
body {
 font-family: 'Montserrat';
}
.contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;
  color: #000000;
}
.touch {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  margin-top: 12px;
  display: flex;
}
.ikonki {
  display: flex;
}


.click {
 display: flex;
 justify-content: center;
 padding-bottom: 12px;
 padding-left: 211px;
 padding-top: 16px;
 width: 275px;
 height: 46px;
}
.news {
  margin-top: 32px;
  width: 265px;
  height: 15px;
  display: flex;
  justify-content: baseline;
}
.kekis {
 display: flex;
 align-self: flex-start;
 width: 198px;
 height: 44px;
 color:  #000000;
 font-style: normal;
 font-weight: 600;
 font-size: 36px;
 line-height: 44px;
 margin-top: 32px;
}
.for_item_1 {
 background-image: url(img/for1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.for_item_2 {
 background-image: url(img/for2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.for_item_3 {
 background-image: url(img/for3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.for_item_4 {
 background-image: url(img/for4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.for_item_5 {
 background-image: url(img/for5.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.for_item {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 415px;
 grid-column: span 4;
 font-style: normal;
 font-weight: 600;
 font-size: 34px;
 line-height: 41px;
 color: #ffffff;
 transition: all 0.3s;
}
.for_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
  border-radius: 1.5px;
}
.for {
 margin-top: 32px;
 display: grid;
 gap: 32px;
 grid-template-columns: repeat(12, 1fr);
}
.for_item_big {
 grid-column: span 6;
}
.for_box {
padding-top: 63px;
}
.heading {
 width: 355px;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 600;
 font-size: 48px;
 line-height: 59px;
 margin-top: 64px;
 margin-bottom: 32px;
}
.Catalog_center {
 height: 735px;
 background-image: url(.img/catalog.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center; 
}
.select {
 position: relative;
 width: 288px;
}
.select select {
 display: block;
 width: 100%;
 height: 41px;
 padding-left: 14px;
 padding-right: 22px;
 background: none;
 border: 1px solid #ccc;
 border-radius: 20px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 color: #444;
}
.select:after {
content: "";
display: block;
border-style: solid;
border-width: 6px 5px 0 5px;
border-color: #000 transparent transparent transparent;
pointer-events: none;
position: absolute;
top: 50%;
right: 1rem;
z-index: 1;
margin-top: -3px;
}
.Top_content {
 height: 400px;
 background-image: url(./img/catalog.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

.catalog_select {
 padding-top: 64px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
}
.bread_crumps_link {
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 32px;
 color:#000000;
 transition: all 0.3s;
}
.bread_crumps_link:hover {
  transform: scale(1.04);
  box-shadow:  0 0 5px #ccc;
}
.bread_crumps_link:not(:last-child):after{
 content: '/';
 font-weight: 400;
 font-size: 16px;
 line-height: 32px;
 color: #000000;
 padding-left: 10px;
 padding-right: 10px;
}
.bread_crumps_link:hover {
 text-decoration: underline;
}
.Top_content_title {
 font-style: normal;
 font-weight: 600px;
 font-size: 64px;
 line-height: 70px;
 padding-top: 64px;
 padding-bottom: 16px;
 margin-top: 64px;
 margin-bottom: 16px;
 color: #ffffff;
}
.menu-mob {
  display: none;
}
.product:hover {
transform: scale(1.05);
box-shadow: 0 0 5px #ccc; 
padding-left: 1px;
}
.added {
  transition: all 0.3s;
}
.added:hover {
transform: scale(1.05);
}
.delete {
  transition: all 0.3s;
}
.delete:hover path {
  transform: scale(1.04)
}
.html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}
.offer {
  font-size: 48px;
  line-height: 59px;
  margin-top: 64px;
  margin-bottom: 32px;
}
@import 'cart';
@import 'tabler';
@import 'mobile';